body {
  background: #81a9e8;
  font-family: 'Titillium Web', sans-serif;
  box-sizing: border-box;
}
section {
  background: #eee;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px 10px 10px;
  margin: 5px;
  position: relative;
}
h1 {
  font-size: 2.4rem;
  margin-bottom: 0.1em;
}
p {
  font-weight: 100;
}
#preview {
  float: left;
  height: 800px;
  width: 700px;
  align-content: center;
  text-align: center;
}
#preview main {
  margin-top: 100px;
}
canvas {
  border: 1px solid grey;
}
#control {
  float: left;
  min-height: 800px;
  width: 450px;
  padding-right: 50px;
}
#control main {
  margin-top: 30px;
}
#control h1,
#control p {
  margin-left: 130px;
}
div.input_box {
  margin: 25px 0;
}
label {
  text-align: right;
  margin-right: 328px;
}
label {
  font-weight: 400;
  font-size: 11px;
  margin-top: 11px;
  margin-bottom: 0;
}
input {
  margin-bottom: 0;
}
input[type=text],
select {
  position: absolute;
  left: 140px;
  width: 300px;
  margin-top: -5px;
  height: 23px;
}
input:disabled {
  color: #999;
  cursor: default;
  background-color: #fafafa;
}
#control-panel {
  position: absolute;
  top: 720px;
  margin-bottom: 40px;
}
label.radio-label {
  display: inline;
  margin: 0;
}
label.nomi-checkbox-label {
  margin-right: 305px;
  margin-top: -5px;
}
button {
  width: 300px;
  height: 40px;
  background: #fff;
}
#scarica_link,
.options-input,
button {
  position: relative;
  left: 130px;
  display: block;
}
