body {
	background: #81a9e8;
	font-family: 'Titillium Web', sans-serif;
	box-sizing: border-box;
}

section {
	background: #eee;
	border: 1px solid black;
	border-radius: 10px;
	padding: 20px 10px 10px;
	margin: 5px ;
	position: relative;
}

section header img {
	margin-left: 65px;
}

#control {
	float: left;
	min-height: 800px;
	width: 450px;
	padding-right: 50px;
}

#preview {
	float: left;
	height: 800px;
	width: 700px;
	align-content: center;
	text-align: center;
}

#control h5 {
	margin-left: 130px;
	width: 200px;
	line-height: 1;
	font-weight: 200;
	font-size: 2em;
	margin-bottom: .1em;
}

#control h6 {
	margin-left: 130px;
}

canvas {
	border: 1px solid grey;
}

#control main {
		margin-top: 30px;
}
#preview main {
		margin-top: 100px;
}

div.input_box {
	margin: 25px 0;
}

input {
	margin-bottom: 0;
}

select, input[type=text] {
  width: 300px;
  height: 25px;
}

input:disabled {
    color: #999;
    cursor: default;
		background-color: #fafafa;
}

button {
  width: 300px;
  height: 40px;
}


select, input[type=text] {
	position: absolute;
	left: 140px;
	margin-top: -8px;
}


#control-panel {
	position: absolute;
	top: 720px;
	margin-bottom: 40px;
}

button, .options-input, #scarica_link {
	position: relative;
	left: 130px;
	display: block;
}

.options-input label {
	display: inline;
	margin: 0;
}

label {
	font-weight: 400;
	font-size: 11px;	text-align: right;
	margin-right: 328px;
	margin-top: 14px;
}

button {
	background: #fff;
}

#scarica_link {
	font-size:
}
